<hr>
<h2>Math Function</h2>
<hr>
<h3>Enter the number : <input type="text" ngModel [(ngModel)]="a" /></h3>
<button type="button" (click)="factorial()">Factorial</button>
<h3>Result of factorial = {{result}}</h3>
<hr>
<button type="button" (click)="sumofeven()">Sum of Even</button>
<h3>Result of Sum of Even Numbers = {{res1}}</h3>
<hr>
<button type="button" (click)="sumofodd()">Sum of Odd</button>
<h3>Result of Sum of Odd Numbers = {{res2}}</h3>
<hr>
<button type="button" (click)="sumoffib()">Sum of Fibonacci</button>
<h3>Result of Sum of Fibonacci Series = {{res3}}</h3>
<hr>
<button type="button" (click)="sumofdigit()">Sum of Digits</button>
<h3>Result of Sum of Digits = {{res4}}</h3>
<hr>


